<div class="col-xl-4">
    <div class="card">
        <div class="card-body">
            <h2 class="text-dark mt-1 text-center"> Admin </h2>
            <div class="row">
              <div class="col-12">
                 <a class="btn btn-primary btn-block mt-1" href="#">Employers</a>
                 <a class="btn btn-primary btn-block mt-1" href="<%= all_employees_path %>">Employees</a>
                 <a class="btn btn-primary btn-block mt-1" href="<%= all_instructors_path %>">Instructors</a>
              </div>
            </div>
        </div>
    </div>
</div>
