<div class="card mb-3">
    <div class="card-body">
    <h3 class="mb-3">Statistics</h3>
    <div class="row">
      <div class="col-md-4 mb-2">
        <div class="card p-2 text-center">
          <p>Total Employers</p>
          <h3><%= @employers.count %></h3>
        </div>
      </div>
      <div class="col-md-4 mb-2">
        <div class="card p-2 text-center">
          <p>Total Employees</p>
          <h3><%= @employees.count %></h3>
        </div>
      </div>
      <div class="col-md-4 mb-2">
        <div class="card p-2 text-center">
          <p>Total Instructors</p>
          <h3><%= @instructors.count %></h3>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-4 mb-2">
        <div class="card p-2 text-center">
          <p>Total Users</p>
          <h3>40</h3>
        </div>
      </div>
      <div class="col-md-4 mb-2">
        <div class="card p-2 text-center">
          <p>Total Users</p>
          <h3>40</h3>
        </div>
      </div>
      <div class="col-md-4 mb-2">
        <div class="card p-2 text-center">
          <p>Total Users</p>
          <h3>40</h3>
        </div>
      </div>
    </div> -->
</div>
</div>
