<div class="footer-bg-image">
    <div class="footer-bg-color" style = "background-color:white;">
        <div class="container text-center mb-0" style="max-width: 1000px;">
            <div class="row">
              <div class="col-md-6 col-12">
                <h3 class="text-dark text-left">Gardehub</h3>
                <p class="text-dark text-left">The hub where the Security Guards bring value <br> to companines and clients</p>
                <p class="text-dark text-left">2014 NE 164th St <br> North Miami Beach, Florida</p>
                <p class="text-dark text-left">786.440.7818</p>
                <p class="text-dark text-left">conan28@protonmail.ch</p>
                </div>
            <div class="col-md-6 col-12">
                <h3 class="text-dark">Chase Us</h3>
                <a href="https://mobile.twitter.com/home" target="_blank" class="text-primary"><i class="fab fa-twitter"></i></a><br>
                <a href="https://www.instagram.com/adoltbit" target="_blank" class="text-primary"><i class="fab fa-instagram"></i></a><br>
            <!--    <a href="#" class="text-light">Services</a><br>
                <a href="#" class="text-light">Contact Us</a> -->
            </div>
      <!--      <div class="col-md-3">
                <h3 class="text-light mb-3">Account</h3>
                <a href="#" class="text-light">Login</a><br>
                <a href="#" class="text-light">Sign Up</a>
            </div>
            <div class="col-md-3">
                <h3 class="text-light mb-3">Follow Us</h3>
                <a href="" class="text-light"><i class="fab fa-facebook-square social-size"></i></a>
                <a href="" class="text-light"><i class="fab fa-twitter-square social-size"></i></a>
                <a href="" class="text-light"><i class="fab fa-linkedin social-size"></i></a>
                <a href="" class="text-light"><i class="fab fa-instagram social-size"></i></a>
            </div> -->
            </div>
        </div>
        <hr class="border-dark">
        <div class = "row">
        <p class="text-dark mb-0 text-center col-12">Copyright ©2019 Gardehub | Developed <a href="http://systemplus.com.pk" class="text-dark">By System Plus</a> </p>
        </div>
        </div>
</div>
